name: BlogDevOpsHub Workflow

on:
  workflow_dispatch:
    inputs:
      approve:
        description: 'Approve deployment'
        required: false
        default: 'false'

jobs:
  setup-aws:
    runs-on: ubuntu-latest
    environment: aws-credentials
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

  terragrunt-plan:
    runs-on: ubuntu-latest
    needs: setup-aws
    steps:
      - name: Checkout terragrunt action
        uses: actions/checkout@v2
        with:
          repository: brunohigino06/github-actions
          path: github-actions

      - name: Terragrunt Plan
        id: terragrunt-plan
        uses: ./github-actions/terragrunt
        with:
          command: plan

  wait-for-approval:
    runs-on: ubuntu-latest
    needs: terragrunt-plan
    if: github.event_name == 'workflow_dispatch' || github.event.inputs.approve == 'true'
    steps:
      - name: Wait for Manual Approval
        id: approval
        run: |
          if [ "${{ github.event.inputs.approve }}" == "true" ]; then
            echo "Manual approval granted."
          else
            echo "::warning:: Manual approval is required. Click the 'Approve deployment' button to proceed."
            exit 1
          fi

  terragrunt-apply:
    runs-on: ubuntu-latest
    needs: wait-for-approval
    if: success() && (github.event_name == 'workflow_dispatch' || github.event.inputs.approve == 'true') && needs.wait-for-approval.result == 'success'
    steps:
      - name: Checkout terragrunt action
        uses: actions/checkout@v2
        with:
          repository: brunohigino06/github-actions
          path: github-actions2

      - name: Terragrunt Apply
        uses: ./github-actions/terragrunt
        with:
          command: apply
