name: BlogDevOpsHub Workflow

on:
  workflow_dispatch:
  # Add additional triggers as needed for automated events

jobs:
  setup-aws:
    runs-on: ubuntu-latest
    environment: aws-credentials
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

  terragrunt-plan:
    runs-on: ubuntu-latest
    needs: setup-aws
    steps:
      - name: Checkout terragrunt action
        uses: actions/checkout@v2
        with:
          repository: brunohigino06/github-actions
          path: github-actions

      - name: Terragrunt Plan
        id: terragrunt-plan
        uses: ./github-actions/terragrunt
        with:
          command: plan

  wait-for-approval:
    runs-on: ubuntu-latest
    needs: terragrunt-plan
    if: github.event_name == 'workflow_dispatch' || github.event.inputs.approve == 'true'
    steps:
      - name: Wait for Manual Approval
        id: approval
        uses: brunohigino06/manual-approval-action@v1
        with:
          message: "Click the button to approve deployment"

  terragrunt-apply:
    runs-on: ubuntu-latest
    needs: wait-for-approval
    if: success() && steps.approval.outputs.approved == 'true'
    steps:
      - name: Checkout terragrunt action
        uses: actions/checkout@v2
        with:
          repository: brunohigino06/github-actions
          path: github-actions2

      - name: Terragrunt Apply
        uses: ./github-actions/terragrunt
        with:
          command: apply
