name: BlogDevOpsHub Workflow

on:
  push:
    branches:
      - main

jobs:
  setup-aws:
    runs-on: ubuntu-latest
    environment: aws-credentials
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

  terragrunt-plan:
    runs-on: ubuntu-latest
    needs: setup-aws
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Terragrunt Plan
        id: terragrunt-plan
        uses: ./github-actions/terragrunt
        with:
          terragrunt-version: 'latest'
          command: 'plan'

  wait-for-approval:
    runs-on: ubuntu-latest
    needs: terragrunt-plan
    if: success()
    steps:
      - name: Wait for Manual Approval
        run: echo "Manual approval required to proceed."

  terragrunt-apply:
    runs-on: ubuntu-latest
    needs: wait-for-approval
    if: success() && github.event.inputs.approve == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Terragrunt Apply
        uses: ./github-actions/terragrunt
        with:
          terragrunt-version: 'latest'
          command: 'apply'
